<tbody>
    {% for entity in entities %}
        <tr>
            <td class="oculto">{{ entity.id }}</td>
            <td><a href="{{ path('proyecto_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
            <td>{{ entity.descripcion }}</td>
            <td>
                <a href="{{ path('proyecto_show', { 'id': entity.id }) }}" class="btn yellow btn-outline">Ver</a>
                
                <a href="{{ path('proyecto_edit', { 'id': entity.id }) }}" class="btn blue btn-outline">Editar</a>
            </td>
        </tr>
    {% endfor %}
</tbody>